@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  height: 100%;
  padding: 2%;
  background-color: #F1F1F1;
}

@layer components{
  .custom-shadow{
      box-shadow:0 0 15px rgba(0,0,0,0.5)
  }
  .w-terminal{
      width:36rem;
  }
  pre,code{
      padding:0px !important;
  }
  .hw-inner{
      height:28rem;
      width:28rem;
  }
  .hw-outer{
      height:36rem;
      width:36rem;
  }
  .anim-8s{
      animation-duration:8s !important;
  }
}